name: Docker Image CI

on:
  workflow_dispatch:

env:
  env_var: ${{ vars.ENV_CONTEXT_VAR }}

  
jobs:

  build:
    environment: Development   
    runs-on: ubuntu-latest

    steps:

    - name: Log into Azure
      uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: Azure/get-keyvault-secrets@v1
      with: 
        keyvault: 'alex-demo-kv'
        secrets: 'ACR-PASS'
      id: arc-pass
          
    
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker compose build 

    - name: Deploy to ARC
      uses: azure/docker-login@v1
      with:
            login-server:  ${{ vars.ACR_SERVER }}
            username: ${{ vars.ACR_USERNAME }}
            password: ${{ arc-pass }}            
    - run: |
            docker push ${{ vars.ACR_SERVER }}/eshopwebmvc
            docker push ${{ vars.ACR_SERVER }}/eshoppublicapi   



   
